@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
/** main css **/
body{
     font-family: 'Roboto-Regular';
    color: #222;
    padding-top: 56px;/*this psdding is equal to height of header*/
}
ul{
  list-style: none;
  margin:0; 
  padding: 0;
}
input:hover,
input:focus,
a:hover,
a:focus{
	text-decoration: none;
	outline: 0;
}
.form-control:focus {
    color: #2e3443;
    background-color: #fff;
    border-color: #85cae9;
    outline: 0;
    box-shadow: 0 0 0 ;
}
/** main end **/
/*--------------header css-----------------*/
.header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.header-main .navbar-brand {
    color: #fff;
    width: 300px;
    text-align: left;
    height: 110px;
    font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    line-height: 30px;
    background: #0055a6;
    padding: 32px 35px;
    display: flex;
    align-items: flex-end;
    line-height: 20px;
    margin: 0;
}
.header-main .navbar-brand span{
    white-space: normal;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15px;
    color: #fff !important;
}
.header-main .navbar-brand  img{
    height: 45px;
}
.nav-link.for-bedge{
    position: relative;
    font-size: 20px;
}
.nav-link.for-bedge img{
    width: 25px;
}
.nav-link.for-bedge .badge-pill {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    height: 20px;
    width: 20px;
    padding: 5px 0;
    text-align: center;
}
.nav-link.for-bedge .badge-pill.badge-success{
  background-color: #00D000;
}
.nav-link.for-bedge .badge-pill.badge-warning{
  background-color: #FF6A00;
  color: #fff;
}
.header-main .navbar-collapse{
    padding: 22px;
}
.dashboard-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 20px;
}
.header-main .navbar-collapse .dropdown .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.header-main .navbar-collapse .dropdown .nav-link img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #FFC60F;
    padding: 3px;
    margin-left: 15px;
}
.header-main .navbar-collapse .navbar-nav{
    align-items: center;
}
@media screen and (max-width:991px){
  .header-main .navbar-collapse {
    display: flex;
    flex-basis: auto;
    padding: 8px;
  }
  .header-main .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
  .header-main .navbar-collapse .navbar-nav li{
    margin:0 6px;
  }
  .header-main .navbar-collapse .dropdown .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }
  .nav-link.for-bedge img {
     width: 22px;
  }
  .dashboard-heading {
    font-size: 22px;
    margin-left: 8px;
  }
  .header-main .navbar-brand {
    color: #fff;
    width: 250px;
  }
}
@media screen and (max-width:767px){
  .header-main .navbar-brand {
    color: #fff;
    width: 100%;
    padding: 20px 20px;
    display: block;
    height: auto;
  }
  .header-main .navbar-collapse .dropdown .nav-link {
    padding: 0;
  }
  .header-main .navbar-brand span {
    font-size: 18px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  .dashboard-heading {
    font-size: 20px;
  } 
}
@media screen and (max-width: 450px){
  .dashboard-heading {
    text-indent: -99999px;
    display: inline-block;
  }
  .header-main .navbar-collapse .dropdown .nav-link {
    font-size: 13px;
  }
}
/**----------------header end-------------------**/
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*----------------page-wrapper----------------*/
.page-wrapper {
  min-height: 100vh;
  background: #E7E7EF;
}
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}
/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}
@media screen and (min-width: 992px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
@media screen and (max-width: 991px) {
  .page-wrapper.toggled .page-content {
    padding-left: 250px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
  top: 110px;
}
/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
  width: 300px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 110px;
  left: -300px;
  z-index: 999;
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper a {
  text-decoration: none;
}
/*----------------sidebar-content----------------*/
.sidebar-content {
  max-height: calc(100% - 110px);
  height: calc(100% - 110px);
  overflow-y: auto;
  position: relative;
}
.sidebar-content.desktop {
  overflow-y: hidden;
}
/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}
.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 30px 30px 0;
  overflow: hidden;
  text-align: center;
}
.sidebar-wrapper .sidebar-header .user-pic {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #FFF;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 0;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-weight: lighter;
  color: #fff;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
@media screen and (max-width: 991px){
  .sidebar-wrapper {
    width: 250px;
  }
  .sidebar-wrapper .sidebar-header .user-info > span {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px){
  .sidebar-wrapper {
    top: 152px;
  }
  .sidebar-content {
    max-height: calc(100% - 152px);
    height: calc(100% - 152px);
  }
}
/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 15px 30px 15px 20px;
  font-size: 16px;
}
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}
.sidebar-dropdown .sidebar-submenu ul {
    padding: 0 30px 20px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 35px;
  font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
    padding: 8px;
    font-size: 13px;
    color: #ccc;
    border-bottom: 1px solid #49535E;
}
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}
.sidebar-wrapper.show-icon-side .sidebar-menu .sidebar-submenu {
  display: none !important;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
@media screen and (max-width:991px){
  .sidebar-wrapper .sidebar-menu ul li a {
    padding: 10px 20px;
    font-size: 14px;
  }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 28px;
    font-size: 10px;
  }
  .navbar-nav .dropdown-menu {
     position: absolute; 
     float:left; 
  }
}
/*--------------------------side-footer------------------------------*/
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}
.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}
/*--------------------------page-content-----------------------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 70px;
  padding-top: 75px;
}
.page-wrapper .page-content {
  /*overflow-x: hidden;*/
}
@media screen and (max-width: 991px){
  .page-wrapper .page-content > div {
    padding: 20px;
  }
}
@media screen and (max-width: 767px){
  .page-wrapper .page-content {
    padding-top: 95px;
  }
}
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #28333F;
}
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fff;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #85CAE9;
}
.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
}
.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

.btn-update-profile {
    border: 2px solid #0055a6;
    color: #fff;
    padding: 10px 30px;
    display: block;
    width: max-content;
    margin: 18px auto;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}
.btn-update-profile:hover{
    text-decoration: none;
    color: #fff;
}
.colleps-icon img {
    width: 28px;
    cursor: pointer;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a img {
    width: 25px;
    margin-right: 12px;
}
@media screen and (max-width:991px){
  .btn-update-profile {
    border: 1px solid #FFC60F;
    padding: 8px 22px;
    font-size: 14px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a img {
    width: 20px;
    margin-right: 12px;
  }
  .colleps-icon img {
     width: 22px;
  }

}
/*------------main Style--------------------*/
.progress-bar {
    background-color: transparent !important;
}
.progress-bar {
    color: #000;
}
.section-title{
  padding-bottom: 0;
}
.page-content .progress-bar div span {
    color: #2F3442;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.page-content .progress-bar div {
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.white-box{
  text-align: center;
  background-color: #fff;
  padding: 25px;
  min-height: 350px;
}
.progress-content-block .content-box{
    position: absolute;
    z-index: 10;
    bottom: 35%;
    left: 0;
    right: 0;
  }
.progress-content-block .content-box{
   color: red;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    right: 0;
  }
.progress-content-block .content-box .heading-pro {
    font-size: 18px;
    margin: 8px 0 0;
    font-weight: bold;
    color: #3b3d40;
}
.progress-content-block .content-box .extra-content{
  font-size: 15px;
    color: #7f7f80;
}
.btn-dash {
    margin: 40px 0 0;
    padding: 12px 55px;
    background-color: #0D5BA7;
    border: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.colored-box {
  text-align: center;
  padding: 20px;
  margin: 25px 0;
}
.colored-box h3 {
    color: #fff;
}
.colored-box p{
  color: #fff;
  margin-bottom: 0;
  font-family: 'Roboto-Light';
}
.colored-box h1{
  color: #fff;
   font-size: 40px;
    margin-bottom: 0;
}
.blue-clr{
  background-color: #62B9E2;
}
.orange-clr{
  background-color: #F9A319;
}
.tittle {
    color: #3b3d40;
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.subtittle{
  font-size: 15px;
  color:#7f7f80;
  font-weight: 600;
  margin-bottom: 0;
  font-family: 'Roboto-Light';
}
.big-tittle {
    color: #3b3d40;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.common-text{
    color: #7f7f80;
    font-size: 15px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
.rat-margin{
  margin-top: 25px;
}
.rate-box{
  padding: 25px;
  background-image: url(../images/other/$rate.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}
.m-top-10{
  margin-top: 10px;
}
/** body css end **/

/*## scroll_top css ##*/
.scroll_top {background: #6dcff6;bottom: 32px; display: none; font-size: 0; height: 34px;position: fixed; right: 10px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #ef3f54 none repeat scroll 0 0;text-decoration: none;}
.scroll_top::before {color: #ffffff; content: "^"; display: block;font-family: "FontAwesome";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/

/*## owl css ##*/
.owl-theme .owl-controls {margin-top: 0;}
#motivational-owl .owl-controls .owl-buttons div {opacity: 0.7;box-shadow: none;background-color: rgba(255, 255, 255, 1);color: #000;font-size: 22px;padding: 0 12px;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
#motivational-owl .owl-prev {position: absolute;left: -200px;top: 28%;}
#motivational-owl .owl-next {position: absolute;right: -200px;top: 28%;}
#motivational-owl .item {padding: 0 4px;}
#motivational-owl:hover .owl-prev{left: 15px;}
#motivational-owl:hover .owl-next{right: 15px;}
/*## owl end ##*/

/** common css **/
.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}

a:focus, a:hover {color: #fdcb49; text-decoration: underline;}
:active, :focus{outline:none !important;}
/** common end **/

/*---------------only show icon side bar---------------------------*/
.page-wrapper .sidebar-wrapper.show-icon-side{
  left: 0;
  width: 60px;
}
.page-wrapper .sidebar-wrapper.show-icon-side .user-info{
    display: none;
}
.page-wrapper .sidebar-wrapper.show-icon-side .sidebar-header .user-pic{
    width: 40px;
}
.page-wrapper .sidebar-wrapper.show-icon-side .sidebar-menu ul li a {
  padding: 0 0 0;
  text-align: center;
  margin:30px 0 0;
}
.page-wrapper .sidebar-wrapper.show-icon-side .sidebar-menu ul li a span{
  display: none;
}
.chiller-theme .sidebar-wrapper.show-icon-side .sidebar-menu ul li a img {
    width: 22px;
    margin-right: 0;
}
.page-wrapper .sidebar-wrapper.show-icon-side .sidebar-menu .sidebar-dropdown > a:after{
  display: none;
}
.page-wrapper .sidebar-wrapper.show-icon-side .sidebar-header {
    padding: 30px 0px 0;
}
/*----------Dashboard Responsive-------------*/
@media screen and (max-width: 1200px) {
  .white-box {
    min-height: 300px;
  }
  .rate-box {
    padding: 25px 10px;
  }
  .btn-dash {
    padding: 12px 0;
    width: 100%;
  }
  .tittle {
    font-size: 22px;
  }
  .subtittle {
    font-size: 14px;
  }
  .big-tittle {
    font-size: 30px;
  }
  .rat-margin {
    margin-top: 20px;
  }
}
@media screen and (max-width: 991px) {
  .section-dash .col-lg-4{
      margin-bottom: 30px;
  }
  .colored-box {
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .page-wrapper .page-content > div {
    padding: 20px 20px 20px 10px;
  }
  .tittle {
    font-size: 20px;
  }
  .big-tittle {
    font-size: 26px;
  }
  .section-dash .col-lg-4 {
    margin-bottom: 15px;
  }
  .btn-dash {
    max-width: 100%;
    width: 200px;
  }
  .colored-box h1 {
    font-size: 32px;
  }
  .rate-box{
    background-size: 100% auto;
  } 
}
@media screen and (max-width: 500px) {
  .page-wrapper.toggled .page-content {
    padding-left: 70px;
  }
}
/*----------------Dashboard End-------------------*/
.breadcrumb1 {
    background: #0d5ba7;
    text-align: right;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 26px;
    font-family: 'Raleway', sans-serif;
}
.breadcrumb1 ul li {
    display: inline-block;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: normal;
    margin: 0 0 0 10px;
  font-weight: bold;
}
.breadcrumb1 ul li a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size:14px;
  color: #fff;
  font-weight: normal;
}
/*-------------------Mastere Page----------------------*/
.form-wrapper{
	max-width: 620px;
	font-family: 'Raleway', sans-serif;
	padding-left: 50px;
}
.form-wrapper .row{
	margin-bottom: 20px;
}
.form-wrapper label {
  font-size: 15px;
	font-family: 'Raleway', sans-serif;
  color: #2e3443;
  display: block;
  line-height: 42px
}
.form-wrapper input {
    font-size: 16px;
    color: #2e3443;
	font-family: 'Raleway', sans-serif;
    border: solid 1px #85cae9;
    height: 42px;
    border-radius: 0;
}
.form-wrapper select {
    width: 100%;
	font-family: 'Raleway', sans-serif;
    height: 42px;
    padding: 0 10px;
    color: #0d5ba7;
    font-size: 16px;
    border: 0;
}
.form-wrapper select option{
	border:0;
}
/*-------------Search box-------------*/
.select2-container--open .select2-dropdown{
    border:0;
    top: 4px;
}
.select2-dropdown{
    padding: 6px 12px;
}
.select-box .select2-container--default .select2-selection--single{
    border:0; 
    height: 42px;
    border-radius: 0;
}
.select-box .select2-container--default .select2-selection--single .select2-selection__rendered{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #0d5ba7;
    font-size: 16px;
    border: 0;      
    line-height: 42px;
    padding: 0 10px;
}
.select-box .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    width: 30px;
}
.select-box .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #0d5ba7 transparent transparent transparent;
    border-width: 8px 6px 0 6px;
}
.select-box .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #0d5ba7 transparent;
    border-width: 0 6px 8px 6px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border-color: #85cae9 !important;
}
.select2-search--dropdown {
    padding: 0 0 8px !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ededf2 !important;
    color: #2e3443 !important;
}
.common-btn {
    display: inline-block;
    padding: 8px 42px;
    background: #fff;
    border-radius: 52px;
    color: #28333f;
    border: solid 1px #28333f;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 6px;
}
.rem-m{
  margin: 0;
}
.common-btn.active{
    background: #0055a6;
    color: #fff;
    border: solid 1px #0055a6;
}
@media screen and (max-width:991px){
	.breadcrumb1 {
    	padding: 8px 16px;
    	margin-top:0; 
    	margin-bottom: 22px;
	}
	.breadcrumb1 ul li,
	.breadcrumb1 ul li a {
   		font-size: 14px;
   }
   .form-wrapper {
    	padding-left: 20px;
	}
	.page-wrapper{
		min-height: 100%;
		max-height: 100%;
	}
}
@media screen and (max-width:767px){
	.breadcrumb1 {
    	padding: 8px 10px;
    	text-align: left;
    }
    .breadcrumb1 ul {
    	margin: 0;
    	padding: 0;
	}
	.breadcrumb1 ul li,
	.breadcrumb1 ul li a {
   		font-size: 13px;
   	}
   	.form-wrapper {
    	padding-left: 0;
	}
	.form-wrapper label {
    	font-size: 14px;
      line-height: 38px;
	}
	.form-wrapper input {
	    font-size: 14px;
	    height: 38px;
	}
	.form-wrapper .dropbtn {
    	height: 38px;
	    line-height: 38px;
	    font-size: 14px;
	}
	.dropdown-content a {
	    padding: 6px 8px;
	    font-size: 14px;
	}
	.form-btn {
    	margin: 0px 0 0;
	}
	.common-btn {
    	margin: 12px 6px 0;
	}
}
@media screen and (max-width:320px){
	.page-wrapper {
    	height: auto;
    }
}
/*--------------add region-------------------*/
.add-field .form-btn {
  margin: 0 0 0;
}
.add-field1{
  max-width: 900px;
  margin:auto;
}
.region-list{
  max-width: 900px;
  margin: 0 auto ;
  font-family: 'Raleway', sans-serif;
  padding: 30px 0;
}
.region-list .table-bordered{
  border:solid 1px #bcbcbc;
}
.region-list  table.table-bordered.dataTable tr.even{
  background: #ffffff;
}
.region-list  table.table-bordered.dataTable tr.odd{
  background: #eff3f4;
}
.region-list  table.table-bordered.dataTable th{
  font-size:15px;
  color: #fff;
  background: #0055a6;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  border-color: #bcbcbc !important;
  border-bottom: 0;
  text-align: center;
  border-top: 0;
  padding: 8px 4px;
}
.region-list  table.table-bordered.dataTable td{
  font-size:15px;
  color: #2e3443;
  text-align: center;
  border-color: #bcbcbc !important;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  padding: 8px 4px;
}
.region-list div.dataTables_wrapper div.dataTables_length label,
.region-list div.dataTables_wrapper div.dataTables_filter label,
.region-list div.dataTables_wrapper div.dataTables_info,
.page-item.disabled .page-link{
  font-size: 15px;
  color: #2e3443;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.region-list div.dataTables_wrapper div.dataTables_info,
.region-list div.dataTables_wrapper div.dataTables_length label{
  font-family: 'Roboto', sans-serif;  
}
.page-item.active .page-link{
    background-color: #0d5ba7;
    border:0;
}/*
.region-list table td img{
    width: 16px;
    margin: 0 4px;
}*/
.delete-btn li{
  display: inline-block;
  margin:0 4px;
}
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before{
  color: #fff;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after{
  color: #fff;  
}
div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 50px;
}
@media screen and (max-width: 991px){
  .form-wrapper1{
    overflow-x: scroll;
  }
  .region-list{
    width: 690px
  } 
}
@media screen and (max-width: 767px){
  #example_wrapper .row:first-child .col-md-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #example_wrapper .row:last-child .col-sm-12{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  div.dataTables_wrapper div.dataTables_length{
    text-align: left !important;
  }
  div.dataTables_wrapper div.dataTables_filter{
    text-align: right !important;
  }
   div.dataTables_wrapper div.dataTables_info{
    text-align: left !important;
   }
}
/*-----------for checkbox---------*/
.want-hindi{
  margin-top: 8px;
}
.want-hindi label, 
.want-hindi input {
    display: inline-block;
    width: auto;
    margin: 0;
    height: auto;
}
.want-hindi input {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
/*--------------------------------*/
.dash-title{
  font-size: 24px;
  color: #2e3443;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
/*--------------custome radio -----------------*/
.radio-type {
  line-height: 42px;
}
.radio-type .radio{
  display: inline-block;
  margin-right: 6px;
}
.radio-type  .radio label{
  line-height: 22px;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #0d5ba7;
    border-radius: .25em;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 16%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
    color: #0d5ba7;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}